<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wangweijun.myapplication">
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".Myapplication"
        android:theme="@style/Theme.MyApplication">
        <meta-data android:name="xxxx" android:value="1"/>


        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".SecondActivity" android:exported="false"/>
        <activity android:name=".CoroutineActivity" android:exported="false"/>
        <activity android:name=".tip.TipTimeActivity"/>
        <activity android:name=".tip.RecycleViewActivity"/>
        <activity android:name=".tip.RecycleViewMulitActivity"/>
        <activity android:name="com.yqritc.recyclerviewmultipleviewtypesadapter.sample.MulitTypeUseBaseActivity"/>
        <activity android:name=".tip.RecycleViewDiffUtilActivity"/>

        <activity android:name=".web.WebActivity">
        </activity>


        <!--<activity
            android:exported="true"
            android:name="com.example.android.GizmosActivity"
            android:label="@string/title_gizmos" >
            <intent-filter android:label="@string/filter_view_http_gizmos">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                &lt;!&ndash; Accepts URIs that begin with "http://www.example.com/gizmos” &ndash;&gt;
                <data android:scheme="http"
                    android:host="www.example.com"
                    android:pathPrefix="/gizmos" />
                &lt;!&ndash; note that the leading "/" is required for pathPrefix&ndash;&gt;
            </intent-filter>
            <intent-filter android:label="@string/filter_view_example_gizmos">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                &lt;!&ndash; Accepts URIs that begin with "example://gizmos” &ndash;&gt;
                <data android:scheme="example"
                    android:host="gizmos" />
            </intent-filter>
        </activity>-->

        <activity
            android:exported="true"
            android:name="com.example.android.GizmosActivity"
            android:label="@string/title_gizmos" >
            <intent-filter android:label="@string/filter_view_http_gizmos">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://www.example.com/gizmos” -->
                <data android:scheme="http"
                    android:host="www.example.com"/>

                <!-- Accepts URIs that begin with "example://gizmos” -->
                <data android:scheme="example"
                    android:host="gizmos" />
            </intent-filter>
        </activity>

    </application>

</manifest>